* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  align-content: center;
}

/*-------------------START STYLES---------------------------*/
.game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  border: 2px solid black;
  background-image: url("../assets/frontpage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  position: relative;
  top: 0;
  left: 0;
  font-size: 3rem;
  background-color: white;
}



button {
  box-shadow:inset 0px 1px 0px 0px #f9eca0;
  background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color:#f0c911;
  border-radius:6px;
  border:1px solid #e65f44;
  display:inline-block;
  cursor:pointer;
  color:#c92200;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ded17c;
}
button:hover {
  background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  background-color:#f2ab1e;
}
button:active {
  position:relative;
  top:1px;
}

.not-visible {
  display: none;
}


#instructions {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border: 1px solid #000;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/*-----------COUNTDOWN----------------*/

.timer {
  display: flex;
  flex-direction: column;
}
#time {
  font-size: 20px; /* Doubled font size */
  font-weight: bold; /* Bold font */
  color: #ce070e; /* Space mission inspired blue */
  background-color: transparent;
  border: 8px solid #7f0602; /* Thick border with the same color */
  padding: 20px;
  border-radius: 50%; /* Circular shape */
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 50px; /* Adjusted for larger font size */
  height: 50px; /* Adjusted for larger font size */
}

.toast {
  visibility: hidden;
  min-width: 200px;
  min-height: 20px;
  background-color: #084fba;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 26px;
  font-size: 17px;
  z-index: 1;
  transform: translateX(-50%); /* Center the toast dynamically */ 
  overflow: hidden;
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.9s 2.5s;
  animation: fadein 0.5s, fadeout 0.9s 2.5s;
}


/*---------------GAME STYLES------------------------*/
#game-area {
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}



div.maze,
div.maze div {
  position: absolute;
}
#tiles div {
  border: 1px solid grey;
}
.floor {
  background-color: #305958;
}
.wall {
  background-color:  rgb(150, 20, 20);
}
.player {
  background-color: #90ee90;
  border: 1px solid green;
  position: absolute;
  transition: left 0.2s linear, top 0.2s linear;
}
.prisoner {
  background-color: #ffd700;
  border: 1px solid #98720b;
  position: absolute;

}



#game-win {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  font-family: monospace;
  font-size: 60px;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: flex;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(115, 115, 255),
    0 0 0.2em rgb(0, 183, 255);
}
#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  font-family: monospace;
  font-size: 60px;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: flex;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(115, 115, 255),
    0 0 0.2em rgb(0, 183, 255);
}*/














